@media only screen and (max-width: 900px) {
    body {
      background-color: lightblue;
    }
  }

.background
{
display: grid;
grid-template-columns: 20% auto 20%;
width: 100%;
height: 100vh;
background-color: rgba(0, 0, 0, 0.6);
}
.background > div
{
    background-color: lightgray;
    margin: 5px;
    border-radius: 5px;
}
.main
{
    display: grid;
    grid-template-rows: 8% auto;
    border-radius: 10px;
}
body
{
    background-color:darkred;
}
.barre
{
display: grid;
grid-template-columns: 17% 17% auto 17% 17%;
text-align: center;
padding: 5px;
}
div
{
    font-size: large;
    text-align: center;
}

link
{
    font-family: 'Oswald', sans-serif;
}
.barre:hover > div
{
    display: block;
    
}
*{border: black 1px solid;}
